* {
  margin: 0;
  padding: 0;
  color: white;
}
form {
  width: inherit;
}
a {
  text-decoration: none;
}
body {
  background-color: white;
}
input {
  color: black;
}
.container {
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
}
.nav-container {
  width: 100%;
  background-color: rgba(0,0,0,.7);
  display: flex;
  justify-content: space-between;
}
.nav-container .link-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.current-page {
  background-color: rgba(0, 0, 0, 0.3);
}
.secondary-nav {
  background-color: rgba(0, 0, 0, 0.6);
  /*animation: .3s slide-in .5s linear;
  animation-fill-mode: forwards;*/
  height: 10vh;
  transition: all 1s;
}
.secondary-nav.hide {
  /*transform: scaleY(0);*/
  /*display: none;*/
  animation: 1s dropnavhide linear;
}
.secondary-nav.show {
  /*transform: scaleY(1);*/
  /*display: inline;*/
  overflow: hidden;
  animation: 1s dropnavshow linear;
}

.left-nav {
  display: flex;
}
.right-nav {
  display: flex;
}
.link-btn {
  padding: 15px;
  cursor: pointer;
  transition: all .5s;
}
.thissucks {
  height: 50px;
  width: 50px;
  background-color: purple;
  /*animation: 1s dropnavhide 1s linear;*/
}
.thissucks:hover {
  animation: 1s dropnavhide 1s linear;
}
.drop-down-nav {
  transform-origin: top;
  transition: 1s;
  overflow: hidden;
}
.drop-down-nav.hide {
  /*transform: scaleY(0);*/
  /*display: none;*/
  /*transition: 1s;*/
  overflow: hidden;
  animation: 1s dropnavhide linear;
}
@keyframes dropnavhide {
  0% {
    transform: scaleY(1);
    transform: translateX(0%);
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
    transform: translateX(80%);
  }
}
@@keyframes dropnavshow {
  0% {
    display: none;
    transform: scaleY(0);
  }
  100% {
    display: inline;
    transform: scaleY(1);
  }
}
.drop-down-nav.show {
  /*transform: scaleY(1);*/
  display: inline;
  animation: 1s dropnavshow linear;
}

.main-content {
  flex-basis: 800px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes slide-in {
  0% {
    transform:scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
